<!DOCTYPE html>
<html>
	<head>
		<title>nginx web server</title>
	</head>
	<body>
		<center>
		<p><h3> 임재훈</h3></p>
		<p><h2>ANSIBLE TEST PAGE</h2></p>
		<p>NGINX NUMBER : {{idx}}/{{nu}}</p>
		<p>pub : {{pub_ip}}</p>
		<p>pri : {{pri_ip}}</p>
		</center>
	</body>
</html>
